{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1 class="titulo-index">Faça seu Cadastro</h1>
    <p>Cadastre a seu nome, email e senha.</p>
    <p><a class="cadastro" href="/alunos/cadastro">Clique aqui, para ver o que já está cadastrado!</a></p>
    <p>{{sucesso}}</p>

    <form action="/alunos/cadastro" method="home">
        {% csrf_token %}
        <label for="email">Email: </label>
        <input name="email" type="email" required>

        <label for="senha">Senha: </label>
        <input name="senha" type="password" required>

        <label for="">Nome: </label>
        <input name="nome" type="text" required>

        <label for="">Escreva seu texto aqui: </label>
        <input name="frase" id="frase" cols="30" rows="10" required> </input>

        <input type="submit" id="botao" value="Enviar">
    </form>
    <img class="imagem" src="{% static 'img/globo.jpeg' %}" alt="">
{% endblock %}